[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pillow = "*"
qiniu = "*"
flask-sqlalchemy = "*"
pymysql = "*"
numpy = "*"
imageio = "*"
tensorflow = "==1.12.1"
gunicorn = "*"
requests = "*"
scipy = "*"
memory-profiler = "*"
psutil = "*"
baidu-aip = "*"
flask-mail = "*"
flask-script = "*"
flask-cors = "*"
speedtest-cli = "*"

[requires]
python_version = "3.6"
